.dateRibbonLabel {
  font-size: large;
  font-weight: bold;
  color: white;
  padding-left: 0.5rem;
}

.months {
  padding-top: 1rem;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
}

.months.dragging {
  cursor: grabbing;
}

.months::-webkit-scrollbar {
  display: none;
}

.month {
  padding: 0.5rem 1.5rem;
  user-select: none;
  cursor: pointer;
}

.selectedMonth {
  background-color: #b63cf2;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.days {
  display: flex;
  gap: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
}

.days.dragging {
  cursor: grabbing;
}

.days::-webkit-scrollbar {
  display: none;
}

.day {
  background-color: white;
  color: #b63cf2;
  flex-shrink: 0;
  font-weight: bold;
  display: inline-flex;
  cursor: pointer;
  flex-direction: column;
  overflow-x: auto;
  height: 5rem;
  width: 3.5rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.selectedDay {
  background-color: #b63cf2;
  color: white;
}
