.taskForm {
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.inputWrapper {
  display: flex;
}

textarea {
  height: 4rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 0.5rem;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
}

input[type="date"] {
  width: 100%;
  height: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

button {
  background-color: #b63cf2;
  border: transparent;
  color: white;
  height: 3rem;
  /* width: 5rem; */
  border-radius: 10%;
}

.title {
  font-size: medium;
}

select {
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding-left: 0.2rem;
  font-size: 1rem;
}

.dateHeader {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.dates {
  display: flex;
  gap: 1rem;
}

.listContainer {
  background-color: gray;
  overflow-y: auto;
  padding-top: 0;
  margin-top: 0;
}
